@import "../../variable.scss";

.container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .input_container {
    display: flex;
    flex-direction: column;
    .mobileInput {
      width: 200px;
      border-radius: 4px;
      margin-bottom: 32px;
      height: 40px;
      border: 1px solid $borderColor;
      padding-left: 8px;
    }
    .mobileBtn {
      background-color: $btnColor;
      color: $btnTextColor;
    }
  }
}
